.kitchen-table{
    margin:auto;
    height:60vh;
    width: 60vw;
    border-radius: 1rem;
    background: burlywood;
}
h1{
    margin: auto;
    text-align: center;
    padding: 0 0 2rem 0;
    color: brown;
}